@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');
body{
	font-family: 'Figtree', sans-serif;
}
.footer{
	border-top: 1px solid gray;
	padding: 1rem 0 0 6px;
}